.wrapper {
    height: 90vh;
    margin: 40px 0 0 40px;
    background: linear-gradient(to right, #FF5851 50%, #F8F8F8 50%);
}

.background {
    position: absolute;
    width: 46%;
    height: 90vh;
    background-color: #fc5a5a;
    margin: 5vh 0 5vh 50px;
}

.player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: 90vw;
    display: flex;
}

.player__video {
    width: 80vw;
    max-width: 800px;
}

.player__speed-bar {
    outline: none;
    appearance: none;
    position: absolute;
    width: 50%;
    left: 69%;
    top: 39.5%;
    transform: rotate(90deg)
}

.player__speed-bar::-webkit-slider-runnable-track {
    height: 9vw;
    max-height: 90px;
    background-color: rgb(211, 211, 216);
    overflow: hidden;
}

.player__speed-bar::-webkit-slider-thumb {
    width: 1px;
    appearance: none;
    box-shadow: -1000px 0 0 1000px #fc5a5a;
}

.player__speed {
    z-index: 1;
    color: white;
    margin-left: 4%;
    align-self: flex-start;
    user-select: none;
}
